* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background-color: aqua; */
}

.hero-section {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: 600px;
}

header {
    width: 1200px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    width: 100%;
    height: 80px;
}

header nav .nav-link {
    font-weight: 500;
}

header nav .nav-link a {
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
}

header nav .nav-link a:hover {
    text-decoration: underline;
}

header nav .login-button {
    font-size: 14px;
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
}

header nav .login-button a {
    color: #23272a;
    text-decoration: none;

}

.hero-container {
    width: 800px;
    margin: 120px auto;
    padding: 0 50px;
    text-align: center;
    color: white;
}

.hero-container h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.hero-container p {
    margin-bottom: 30px;
    line-height: 1.7;
}

.hero-button {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    padding: 16px 32px;
    border-radius: 30px;
    font-weight: 600;
    text-decoration: none;
}

.primary.button {
    background-color: white;
    color: #23272a;
}

.secondary.button {
    background-color: #23272a;
    color: white;
}
